<a href="https://colab.research.google.com/github/Ramadane735/CSS-AVANC-E/blob/main/Checkpoint_sur_Dataframe_Filtering_and_Selection_using_iloc_and_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Création du DataFrame**

In [1]:
import pandas as pd

data = {
    'Name'       : ['Saliou', 'Awa', 'Mouhamed', 'Fatou', 'Bamba', 'Diarra'],
    'Department' : ['Finance', 'Marketing', 'Gestion', 'Finance', 'Gestion', 'Marketing'],
    'Age'        : [30, 40, 25, 35, 45, 28],
    'Sexe'       : ['Homme', 'Femme', 'Homme', 'Femme', 'Homme', 'Femme'],
    'Salaire'    : [50000, 60000, 45000, 55000, 70000, 55000],
    'Expérience' : [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)

#**Sélections avec iloc**

In [2]:
#   On récupére les lignes d’index 0, 1 et 2 des trois premiers lignes

first_three = employee_df.iloc[0:3]
print(first_three)

       Name Department  Age   Sexe  Salaire  Expérience
0    Saliou    Finance   30  Homme    50000           3
1       Awa  Marketing   40  Femme    60000           7
2  Mouhamed    Gestion   25  Homme    45000           2

In [3]:
#  On sélectionne les lignes d’index 0 à 3 puis on isole les colonnes par position ou par nom

# 1: par positions de colonnes
age_sexe_pos = employee_df.iloc[0:4, [2, 3]]
print(age_sexe_pos)

# 2: par noms de colonnes
age_sexe_nom = employee_df.iloc[0:4][['Age', 'Sexe']]
print(age_sexe_nom)

   Age   Sexe
0   30  Homme
1   40  Femme
2   25  Homme
3   35  Femme
   Age   Sexe
0   30  Homme
1   40  Femme
2   25  Homme
3   35  Femme

#**Sélections avec loc**

In [4]:
# On Filtre toutes les colonnes du département Marketing

marketing_df = employee_df.loc[ employee_df['Department'] == 'Marketing' ]
print(marketing_df)

     Name Department  Age   Sexe  Salaire  Expérience
1     Awa  Marketing   40  Femme    60000           7
5  Diarra  Marketing   28  Femme    55000           4

In [5]:
# On récupère les colonnes Salaire et Expérience pour les hommes

hommes_salaire_exp = employee_df.loc[
    employee_df['Sexe'] == 'Homme',
    ['Salaire', 'Expérience']
]
print(hommes_salaire_exp)

   Salaire  Expérience
0    50000           3
2    45000           2
4    70000          10